.notification {
    padding: 6px 8px;
    border-radius: 4px;
    width: 100px;
    height: 20px;
    background-color: #ccc;
    position: relative;
}

.notification:hover {
    cursor: pointer;
    opacity: 0.8;
}

.headingNoti {
    margin: 0;
    display: inline-block;
}

.countNoti {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 16px;
    position: absolute;
    padding: 4px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid #ccc;
    top: -8px;
    right: -5px;
    font-size: 14px;
    color: #fff;
}